.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-input {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #fff;
  border: 2px solid #2e282a;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 7px;
  background-color: darkslategrey;
}

input:focus {
  outline: none;
}
