.experience-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: 0.3s;
  width: 250px;
  background-color: #97dffc;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 5px;
}

.experience-card-footer {
  display: flex;
  justify-content: center;
}

.card-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.info {
  font-size: 14px;
}

.experience-card:hover {
  box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2);
}

.container {
  padding: 2px 16px;
}
